@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 67px;
  }
  
  h2 {
    font-size: 51px;
  }
  
  h3 {
    font-size: 38px;
  }
  
  h4 {
    font-size: 28px;
  }
  
  h5 {
    font-size: 21px;
  }
  
  h6 {
    font-size: 16px;
  }
  
  p {
    font-size: 12px;
  }
  
  small {
    font-size: 09px;
  }

  #hero .row.main {
    padding: 116px 24px 95px;
    flex-direction: column;
    align-items: center;
  }

  #hero .video {
    width: 328px;
    height: 232px;
  }

  #hero .column.main {
    width: 100%;
    align-items: center;
  }

  #hero .column.main h2 {
    width: 328px;
    text-align: center;
    font-size: 38px;
  }

  #hero .column.text {
    align-items: center;
  }

  #hero .column.text p {
    width: 100%;
    text-align: center;
  }

  #hero h1 {
    width: 359px;
    top: 0px;
    left: -27px;
  }

  #hero .imgs .img:nth-child(1) {
    width: 375px;
    height: 381px;
    top: -32px;
    left: -54px;
  }

  #hero .imgs .img:nth-child(1)::after {
    background: linear-gradient(
      180deg,
      rgba(245, 243, 236, 0) 60%,
      rgba(245, 243, 236, 1) 100%
    );
  }
  
  #hero .imgs .img:nth-child(2)::after {
    background: none;
  }

  #hero .imgs .img:nth-child(2) img {
    object-fit: cover;
  }

  #journey .container {
    margin: 0;
    padding: 0 0 50px;
  }
  
  #journey .title {
    width: 100%;
  }
  
  #journey .text {
    padding: 16px 24px;
  }
  
  #journey .text p {
    width: 100%;
  }
  
  #journey .row.main {
    flex-direction: column;
    padding: 0 24px;
  }
  
  #journey .row.main p {
    width: 242px;
    font-weight: 700;
  }

  #journey .row.main p:nth-child(2) {
    width: 100%;
    padding: 100px 0 0 86px;
  }
  
  #journey .column.main .img::after {
    background: rgba(54, 32, 36, 0.95);
  }

  #about .container {
    padding: 50px 24px;
  }
  
  #about .column.main {
    gap: 64px;
  } 
  
  #about .row.main {
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  #about .row.main p:nth-child(1) {
    width: 100%;
    padding: 0 162px 0 0;
    text-align: left;
  }
  
  #about .row.main p:nth-child(2) {
    width: 100%;
    padding: 89px 0 0 200px;
    text-align: left;
  }
  
  #about .row.main p:nth-child(3) {
    width: 100%;
    padding: 46px 191px 0 0;
    text-align: left;
  }

  #about .row.main .img {
    top: 0;
    left: -24px;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: -1;
  }
  
  #about .row.main .img,
  #about .row.main .img img {
    width: 375px;
    height: 587px;
  }

  #about .container .right.circle {
    top: -432px;
    right: -206px;
    z-index: -5;
  }
  
  #about .container .left.circle {
    bottom: -80px;
    left: -300px;
  } 

  #about .container .logo {
    top: -16px;
    right: 24px;
  }
  
  #unique .title {
    width: 100%;
    padding: 0 24px;
  }
  
  #unique .row.main {
    padding: 0 24px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
  
  #unique .row.main .img,
  #unique .row.main .img img {
    width: 358px;
    height: 410px;
  }

  #unique .row.main .img:nth-child(1), 
  #unique .row.main .img:nth-child(1) img {
    border-radius: 8px;
  }

  #unique .row.main .img:nth-child(2) {
    display: none;
  }
  
  #unique .row.main .img:nth-child(3)::after {
    border-radius: 8px 8px 0 0;
  } 

  #unique .column.main > p {
    margin: -32px 0 0;
    padding: 16px 24px;
  }

  #win .container {
    padding: 50px 24px 100px;
  }
  
  #win .column.content {
    gap: 32px;
  }
  
  #win .column.content .row:nth-child(1),
  #win .column.content .row:nth-child(2) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  #win .column.content .row .column {
    gap: 4px;
  }
  
  #win .column.content .row:nth-child(1) .column:nth-child(1),
  #win .column.content .row:nth-child(1) .column:nth-child(2),
  #win .column.content .row:nth-child(1) .column:nth-child(3),
  #win .column.content .row:nth-child(2) .column {
    width: 157px;
  }
  
  #win .column.content .row .column p {
    text-align: center;
  }
  
  #win .column.content .row:nth-child(1)::after,
  #win .column.content .row:nth-child(2)::after {
    display: none;
  }

  #win .column.content .row:nth-child(1) .column:nth-child(1)::after,
  #win .column.content .row:nth-child(1) .column:nth-child(3)::after,
  #win .column.content .row:nth-child(2) .column:nth-child(2)::after {
    width: 187px;
    height: 2px;
    position: absolute;
    bottom: 8px;
    right: -112px;
    border-radius: 2px;
    background-color: var(--color-secondary-2);
    content: '';
    z-index: -1;
  }

  #win .column.content .row:nth-child(1) .column:nth-child(2)::after,
  #win .column.content .row:nth-child(2) .column:nth-child(1)::after {
    width: 187px;
    height: 2px;
    position: absolute;
    bottom: 8px;
    left: -112px;
    border-radius: 2px;
    background-color: var(--color-secondary-2);
    content: '';
    z-index: -1;
  }
  
  #win .column.content .row .column span {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--color-secondary-1);
  }
  
  #win .container .img {
    position: absolute;
    top: -114px;
    left: 0;
    z-index: -2;
  }
  
  #win .container .img, 
  #win .container .img img {
    width: 100%;
    height: 1001px;
    object-fit: cover;
  }

  #win .container .logo {
    left: 24px;
  }
  
  #for .container {
    padding: 64px 24px;
  }

  #for .row.main {
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
  }

  #for .grid .img,
  #for .grid .img img {
    width: 100%;
    height: 328px;
  }

  #for .grid p {
    width: 156px;
  }

  #for .grid p:nth-child(2) {
    top: -44px;
    left: -24px;
  }

  #for .grid p:nth-child(3) {
    top: 56px;
    left: 0px;
  }

  #for .grid p:nth-child(4) {
    bottom: 64px;
    left: -24px;
  }

  #for .grid p:nth-child(5) {
    bottom: -44px;
    left: 23px;
  }

  #for .grid p:nth-child(6) {
    top: -28px;
    right: 23px;
  }

  #for .grid p:nth-child(7) {
    top: 40px;
    right: -24px;
    color: var(--color-primary);
  }

  #for .grid p:nth-child(8) {
    right: 23px;
    bottom: 32px;
  }

  #for .grid p:nth-child(9) {
    right: -24px;
    bottom: -36px;
    color: var(--color-primary);
  }

  #for .container .circle {
    bottom: -398px;
    left: -360px;
  }
  
  #for .container .light {
    width: 416px;
    height: 416px;
    top: -416px;
    right: 0;
    bottom: auto;
    left: 0;
  }

  #feedback .container {
    padding: 100px 0;
  }
  
  #feedback .row.main {
    padding: 0 0 64px;
    flex-direction: column;
  }
  
  #feedback .row.main .column {
    width: fit-content;
    padding: 100px 24px 32px; 
  }
  
  #feedback .row.main .column > span {
    top: -110px;
    right: auto;
    left: 0;
    font-size: 400px;
  }
  
  #feedback .row.main .column h4 {
    width: 100%;
  }
  
  #feedback .row.main .column p {
    width: 100%;
  }
  
  #feedback .row.main .row.arrows {
    justify-content: flex-start;
    gap: 32px;
    z-index: 3;
  }
  
  #feedback .row.main .row.carousel {
    margin: -8px 0 0 0;
    padding: 0 0 0 24px;
    gap: 16px;
  }
  
  #feedback .row.main .row.carousel .img img {
    width: 242px;
    height: 388px;
  }

  #get .container {
    padding: 0;
  }
  
  #get .column.main {
    padding: 0;
  }
  
  #get .column.title {
    width: 100%;
    padding: 0 24px;
  }

  #get .column.title p {
    width: 157px;
  }
  
  #get .grid {
    padding: 0 24px;
    align-items: flex-start;
    gap: 32px 16px;
  }
  
  #get .grid .column {
    width: 155px;
    gap: 8px;
  }
  
  #get .grid .column .img,
  #get .grid .column .img img {
    width: 100%;
    height: 155px;
    object-fit: cover;
  }
  
  #get .column.main > p {
    padding: 16px 24px;
  }

  #get .container .logo {
    top: -106px;
    right: 24px;
  }

  #get .container #get-line1 {
    top: -287px;
  }
  
  #get .container #get-line2 {
    top: -285px;
    left: -8px;
  }
  
  #get .container #get-line3 {
    width: 100%;
    top: auto;
    bottom: 96px;
    left: 0;
  }

  #offer .container {
    padding: 164px 24px 64px;
  }
  
  #offer .column.text {
    width: 100%;
  }
  
  #offer .column.table {
    width: 254px;
  }
  
  #offer .column.main > p {
    width: 100%;
  }
  
  #offer .img, 
  #offer .img img {
    display: none;
  }

  #warranty .container {
    padding: 100px 24px;
  }
  
  #warranty .img,
  #warranty .img img {
    width: 100%;
    height: 282px;
  }
  
  #warranty .img img {
    transform: rotate(-5deg);
  }
  
  #warranty .row.main {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  
  #warranty .column.text {
    width: 100%;
  }

  #warranty .container .logo {
    left: 24px;
  }
  
  footer .container {
    padding: 64px 24px;
  }
  
  footer .column.main {
    align-items: center;
    gap: 64px;
  }
  
  footer .row.main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
  }
  
  footer .column.social {
    align-items: center;
    gap: 16px;
  }
  
  footer .column.social,
  footer .column.infos {
    width: 100%;
    align-items: center;
  }
  
  footer .column.social .row {
    align-items: center;
    gap: 8px;
  }

  footer .row.main h4 {
    width: 148px;
  }
  
  footer .column.infos {
    align-items: center;
    gap: 32px;
  }

  .logo {
    width: 111px;
    font-size: 21px;
  }
  
  .circle {
    width: 480px;
    height: 480px;
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  #hero .video {
    width: 100%;
  }

  #hero .video .img,
  #hero .video .img img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  #about .row.main {
    width: 328px;
  }

  #about .row.main .img {
    margin: 0 auto;
  }

  #about .container .left.circle {
    left: -277px;
  }

  #win .column.content .row:nth-child(1) .column:nth-child(1)::after, 
  #win .column.content .row:nth-child(1) .column:nth-child(3)::after, 
  #win .column.content .row:nth-child(2) .column:nth-child(2)::after {
    width: 225px;
    right: -152px;
  }

  #win .column.content .row:nth-child(1) .column:nth-child(2)::after, 
  #win .column.content .row:nth-child(2) .column:nth-child(1)::after {
    width: 225px;
    left: -152px;
  }
  
  #win .container .img, 
  #win .container .img img {
    height: 956px;
  }

  #for .row.main h3 {
    width: 352px;
  }

  #for .grid .img, 
  #for .grid .img img {
    object-fit: cover;
  }

  #get .column.title p {
    width: 100%;
  }

  #get .container #get-line1 {
    top: -327px;
  }
  
  #get .container #get-line2 {
    width: 100%;
    top: -255px;
    left: 0;
  }

  #get .container #get-line3 {
    bottom: 66px;
  }
}
